/*Configuração padrão*/

body {
    background-color: #f4e9fc;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

img{
    height: 30px;
    width: 50px;
}

/*Conteúdo*/

#conteuTotal {
    display: block;
    text-align: center; 
}

.formPay {
    display: inline-block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    text-align: left;

    background-color: #bc79ec;
    height: 500px;
    width: 1000px;

    border-radius: 50px;
}


/*Voltar para tela inícial*/

.voltaInicio {
    position: absolute;
    left: 1050px;
    top: 100px;
}

.voltaInicio img{
    height: 20px;
    width: 30px;
}

.voltaInicio a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-family: 'Secular One', sans-serif;
    font-size: 15px;

    position: absolute;
    top: 2px;
    left: 35px;
}


/*Informações do plano*/

.detalhe h1 {
    color: white;
    font-size: 30px;

    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 0;
}

.detalhe p {
    margin-left: 50px;
    margin-bottom: 60px;
    margin-top: 0;

    padding: 0;
    
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

/*Formas de pagamento*/

.cartaoCred,
.cartaoDeb,
.opcaoPagamento {
    position: relative;

    background-color: #e6d2f9;
    height: 50px;
    width: 900px;

    border-radius: 5px;

    margin-left: 50px;
    margin-bottom: 30px;
}

.cartaoCred label,
.cartaoDeb label,
.opcaoPagamento label {
    position: absolute;
    top: 10px;

    color: #4d1386;

    font-weight: 500;
    font-family: 'Secular One', sans-serif;
    font-size: 20px;

    margin-left: 20px;
    margin-right: 200px;
}

.cartaoCred img,
.cartaoDeb img,
.opcaoPagamento img {
    position: absolute;
    top: 10px;
    left: 400px;

    cursor: pointer;
}

.cartaoCred input,
.cartaoDeb input,
.opcaoPagamento input {
    position: absolute;
    left: 380px;
    top: 15px;
}

.master {
    position: absolute;
    left: 100px;
}

.elo {
    position: absolute;
    left: 100px;
}

.pix {
    position: absolute;
    left: 100px;
}

.assina button {
    border: none;
    border-radius: 5px;

    background-color: #20df50;
    height: 50px;
    width: 150px;

    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;

    margin-left: 420px;
    margin-top: 30px;

    cursor: pointer;
}

