@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #a64de5;
}

.btn{
    background-color: #20cfdf;
    color: white;
    border: none;
    padding-block: 0.5rem;

    font-weight: bold;
    border-radius: 4px;

    cursor: pointer;
}


#content{
    background-color: #731ab3;
    width: 50%;
    height: 80vh;

    display: flex;
    margin: 5rem auto;
    padding-top: 3rem;

    gap: 3rem;

    border-radius: 30px;

}

.nav-lateral{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;

    gap: 1rem;
    
}

.foto-usuario img{
    border-radius: 20px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.514);
    width: 200px;
}

.dados{
    background-color: #561188;
    color: white;

    width: 200px;
    height: 60%;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding-top: 2rem;
    padding-inline: 1rem;

}

.dados h2{
    text-align: center;
    color: #20cfdf;
}

.dado h4{
    color: #20cfdf;
} 

.dados .btn{
    margin-top: 2rem;
}

.info-usuario{
    display: flex;
    flex-direction: column;
    
}

.wraper{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.caixa p{
    color: white;
    font-weight: bold;
}

.contato{
    margin-top: 7rem;
    padding: 2rem;
    border-radius: 20px;

    background-color: #561188;
    width: 660px;
    color: white;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.contato form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.contato form h2{
    color: #20cfdf;
}