@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #a64de5;
}

.btn{
    background-color: #20cfdf;
    color: white;
    border: none;
    padding-block: 0.5rem;

    font-weight: bold;
    border-radius: 4px;

    cursor: pointer;
}


#content{
    background-color: #731ab3;
    width: 50%;
    height: 80%;

    display: flex;
    margin: 8rem auto;
    padding-block: 3rem;

    gap: 3rem;

    border-radius: 30px;

    position: relative;

}

.nav-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;

    gap: 1rem;
    
}

.foto-usuario img{
    border-radius: 20px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.514);
    width: 200px;
}

.voltar{
    position: absolute;
    right: 10px;
    top: 10px;
    
}

.voltar img{
    height: 40px;
}

.dados{
    background-color: #561188;
    color: white;

    width: 200px;
    height: 60%;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding-top: 2rem;
    padding-inline: 1rem;

}

.dados h2{
    text-align: center;
    color: #20cfdf;
}

.dado h4{
    color: #20cfdf;
} 

.dados .btn{
    margin-top: 2rem;
}

.info-usuario{
    display: flex;
    flex-direction: column;
    
}

.wraper{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.caixa p{
    color: white;
    font-weight: bold;
}


.contato{
    margin-top: 7rem;
    padding: 2rem;
    border-radius: 20px;

    background-color: #561188;
    width: 660px;
    color: white;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.contato form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.contato form h2{
    color: #20cfdf;
}




@media  (max-width: 900px){
   
    #content{
        display: flex;
        flex-direction: column;
        padding-block: 2rem;
        gap: 1.4rem;
    }

    .nav-lateral{
        padding: 0;
    }

    .foto-usuario img{
        height: 180px;
        width: 180px;
    }

    .info-usuario {
        align-items: center;
    }

    .voltar{
        right: 8px;
        top: 8px;
        
    }

    .voltar img{
        height: 30px;
    }

    .dados .btn{
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .wraper{
        display: flex;
        flex-direction: column;
    }

    .cartao img{
        height: 100px;
    }

    .contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 80%;
        margin-top: 20px;
        
    
    }

    .contato h2{
        font-size: 1rem;
    }

    textarea, input{
        width: 150px;
        display: block;
    }

    .contato p{
        font-size: 0.8rem;
        width: 78%;
        text-align: justify;
    }
}

@media (min-width: 900px) and (max-width: 1200px){
   
    #content{
        display: flex;
        flex-direction: column;
        padding-block: 2rem;
        gap: 1.4rem;
    }

    .nav-lateral{
        padding: 0;
    }

    .foto-usuario img{
        height: 180px;
        width: 180px;
    }

    .info-usuario {
        align-items: center;
    }

    .dados .btn{
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .wraper{
        display: flex;
        flex-direction: column;
    }

    .wraper .caixas{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .cartao img{
        height: 120px;
        width: 250px;
    }

    .contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 80%;
        margin-top: 20px;
        
    
    }

    .contato h2{
        font-size: 1.3rem;
    }

    textarea, input{
        width: 300px;
        display: block;
    }

    .contato p{
        font-size: 0.9rem;
        width: 80%;
        text-align: justify;
    }
}



@media (min-width: 1200px ) and (max-width: 1900px){
   
    #content{
        display: flex;
        
        padding-block: 2rem;
        gap: 1rem;
    }

    .nav-lateral{
        margin-top: 2rem;
        gap: 3rem;
    }


    .foto-usuario img{
        height: 180px;
        width: 180px;
    }

    .info-usuario {
        align-items: center;
    }


    .nav-lateral .dados{
        padding-bottom: 32px;
        gap: 1rem;
      
    }

    .dados .btn{
        margin-top: 0;
    }

    .wraper{
        display: flex;
        flex-direction: column;

        gap: 0.5rem;
    }

    .wraper img{
        height: 80px;
        width: 150px;
    }

    .wraper .caixas{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .cartao img{
        height: 120px;
        width: 250px;
    }

    .contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 80%;
        margin-top: 20px;

        padding: 1rem;

    
    }

    
    textarea, input{
        width: 250px;
        display: block;
    }

    .contato p{
        font-size: 0.9rem;
        
        text-align: justify;
    }
}