/*Configuração padrão*/

html{
    scroll-behavior: smooth;
}

body {
    background-color: #e9d2f9;

    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}


/*Navegação primaria*/

nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 130px;
    height: 120px;

    margin-left: 1rem;
    margin-bottom: 10px;
    margin-top: 1rem;
}

nav .botoes{
    display: flex;
    flex-direction: row;
}

.botoes button {
    background-color: #561188;

    width: 200px;
    height: 40px;

    border-radius: 10px;

    margin-left: 15px;

    transition: background .8s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botoes a {
    color: white;

    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}



.botoes button:hover{
    background-color: #731ab3;
}

.usuario {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}


.cadastro {
    color: #561188;   


    margin-right: 10px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}



.entra {
    color: white;
    background-color: #561188;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border-radius: 10px;

    font-size: 15px;
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;

    transition: background .8s;
}

.entra:hover{
    background-color: #731ab3;
}

/*Conteúdo*/


.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.intro h1 {
    margin-top: 5rem;
    margin-bottom: 0;
   

    color: #561188;
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
   
}

.intro p{
    text-align: center;
    font-size: 25px;
    font-family:  'Ubuntu', sans-serif;
    width: 600px;

    margin-top: 05px;
    margin-bottom: 0;

}

.intro p strong{
    text-transform: uppercase;
}

.intro h2 {
    margin-top: 30px;

    color: #a649e9;
    font-size: 35px;
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;
}

.passos {
    display: flex;
    justify-content: center;

    margin-left: 120px;
    margin-top: 4rem;
    margin-right: 100px;
    margin-bottom: 4rem;
}

.passos img {
    height: 240px;
    width: 250px;
}



/*Planos*/

.parteSecudaria {
    background-color: #bc79ec;
    padding-bottom: 5rem;
}

.nomePlanos,
.nomeDoacao{
    display: flex;
    justify-content: center;

    color: white;
    font-size: 6rem;
    font-weight: 500;
    font-family: 'Bebas Neue', sans-serif;

    margin-top: 20px;
    padding-top: 70px;
}


.partePlanos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 20px;
    padding-inline: 1rem;
}


.partePlanos img{
    height: 500px;
}

.plano{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.plano button{
    background-color: #731ab3;
    height: 40px;
    width: 290px;

    border-radius: 8px;

    color: white;
    font-size: 20px;
    font-weight: lighter;
}

.plano button a{
    color: white;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}


/*Doação*/


.parteDoacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   

}

.nomeDoacao{
    margin-bottom: 0;
}


.parteDoacao img{
    height: 30rem;
    width: 40rem;
    
}

.content{
    padding-right: 2rem;
}

.content p {
    margin-top: 150px;
    font-size: 2rem;
    color: white;
    max-width: 700px;
    font-family: 'Ubuntu', sans-serif;
}

.content button{
    background-color: #731ab3;
    height: 2rem;
    width: 100%;

    border-radius: 43px;

    color: white;
    font-size: 15px;
    font-weight: bold;

    transition: background .8s;
}


.content button:hover{
    background-color: #a649e9;
}

.parteDoacao a{
    color: white;
}


/*Rodapé*/

#rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 0.5rem;

}

footer a{
    text-decoration: none;
    color: #731ab3;
}



.redes{
    display: flex;
    align-items: center;
    gap: 2rem;
}


.insta img{
    height: 30px;
    width: 30px;
}


.face img{
  
    height: 40px;
    width: 45px;
}
    

.contato{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0.7rem;
}

.emailContato {
    font-size: 1rem;
}

.contato p{
    width: 300px;
    margin-bottom: 0;
    margin-top: 0.5rem;
}


@media (max-width: 1000px){
    nav{
        flex-direction: column;
        gap: 10px;
    }

    .logo{
        height: 100px;
        width: 100px;
        margin-left: 0;
    }

    nav .botoes{
        display: flex;
        flex-direction: row;
        gap: 1px;
    }

    .botoes button {
        width: 100px;
        height: 30px;
        
        margin-left: 0;

      
    }

    .botoes a {
        font-size: 15px;
     
    }

    .usuario{
        margin-right: 0;
    }
    
    .cadastro{
        font-size: 18px;
    }

    .intro{
        display: flex;
        align-items: center;

    }

    .intro h1{
        font-size: 3rem;
    }

    .intro p{
        font-size: 1.2rem;
        width: 400px;
        
    }

    .intro h2{
        font-size: 1.8rem;
        margin-bottom: 0;
    }

    .passos{
        margin: 0;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
    }


    .passos img {
        height: 200px;
        width: 200px;
    }

    .partePlanos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .partePlanos img{
        height: 400px;
        width: 300px;
    }

    .plano{
        align-items: center;
        gap: 15px;
    }

    .parteDoacao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parteDoacao img{
        width: 400px;
        height: 300px;
        margin: 0;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-inline: 20px;
        padding: 0;
    }

    .content p{
        
        font-size: 2rem;
        text-align: center;
        margin-top: 0;
        
    }

   

   
}

